<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome</title>
        <!-- 부트스트랩 코드-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    <style>
      footer {
            background-color: #f2f2f2;
  
  }
    </style>
    
</head>
<body>
	<nav class="navbar navbar-default"  >
		             <div class="container">
		             <div class= "navbar-header ">
		                 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		                 <span class="icon-bar"></span>
		                 <span class="icon-bar"></span>
		                 <span class="icon-bar"></span>                        
		                 </button>
		                 <a class="navbar-brand" th:href="(${user != null}) ? @{/home} : @{/guest}">MailGuard</a>
		             </div>

		             <!-- 로그인 회원가입 버튼 -->
		             <div class="buttons navbar-right">
		   			  <ul class="nav navbar-nav" style="display: flex; align-items: center; height: 100%;">
		   			    <li><a th:href="@{/login}">Login</a></li>
		   			    <li style="margin-left: 10px;">
		   			      <form th:action="@{/signup}" method="get" style="margin: 0;">
		   			        <button type="submit" class="btn btn-default" style="margin: 0; padding: 6px 12px;">회원가입</button>
		   			      </form>
		   			    </li>
		   			  </ul>
		   			</div>
		             </div>
		         </nav>
				 

  <div class="footer">
    <div style = ' text-align: center; padding:20px; background-color: #ffffff'>
        <div>
          <img src = '/assets/img1.jpg' style = 'width:400px; height:auto'>
          <h1>프로젝트 목표</h1>
          <p>
            MailGuard는 이메일 내 악성 링크와 스팸 요소를 자동으로 탐지·차단하여<br/>
			사용자의 메일 환경을 안전하게 보호하는 보안 플랫폼입니다.
          </p>
        </div>

        <div style = " text-align: center; padding: 20px; background-color:#fdfcf8">
          <div>
            <img src = "/assets/img2.jpeg" style = "width:400px; height:auto"> 
            <h1>추적 가능한 메일 차단 서비스</h1>
            <p>
              Mail Guard 서비스는 타 메일 서비스와 달리<br/>
              스팸/악성 메일이 차단된 이유를 확인할 수 있습니다.<br/>
              <emp>"정확한 성능과 이유 있는 차단"</emp><br/>
              저희 Genesis 팀은 사용자들에게 메일이 차단된 이유를 설명함으로써<br/>
              가시성, 신뢰성을 높은 보안 서비스 제공을 위해 최선을 다하고 있습니다.
            </p>
          </div>
        </div>
        
        <div style = " text-align: center; padding: 20px; background-color: #f7f3f0">
          <div >
            <img src = '/assets/aboutUs.png' style = "width:100px; height:auto">
            <span><h1>About us</h1></span>
            <p>
              Genesis 팀은 보안에 관심이 많은 개발자들로 구성되어 있습니다.<br/>
              우리는 악성 메일 차단을 통해 범죄를 사전에 예방하고,<br/>
              믿을 수 있는 메일 플랫폼 구축을 서포팅하기 위해<br/>
              노력하고자 합니다.
            </p>
          </div>
        </div>
  </div>

    
<br><br><br><br>
  <!--하단 관련정보-->
    <footer class="container-fluid bg-3">
        <h2 class="text-center">CONTACT</h2>
        <div class="row">
          <div class="col-sm-5">
            <p>Contact us and we'll get back to you within 24 hours.</p>
            <p><span class="glyphicon glyphicon-map-marker"></span> Cheongju, South Korea</p>
            <p><span class="glyphicon glyphicon-phone"></span> +00 1515151515</p>
            <p><span class="glyphicon glyphicon-envelope"></span> myemail@something.com</p>
            <p><a href = "example.html">For detailed info, click here</a></p>
          </div>
          <div class="col-sm-7">
            <div class="row">
              <div class="col-sm-6 form-group">
                <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
              </div>
              <div class="col-sm-6 form-group">
                <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
              </div>
            </div>
            <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
            <div class="row">
              <div class="col-sm-12 form-group">
                <button class="btn btn-default pull-right" type="submit">Send</button>
              </div>
            </div>
          </div>
        </div>
    </footer>
    


  <script src="/js/script.js"></script>
</body>
</html>
